.App{
  display: flex;
  justify-content: space-evenly;
  gap:50px;
}
table{
  border-collapse:collapse;
  width:700px;
}
table, tr, td, th{
  border:1px solid gray;
  text-align:center;
}
form{
  display: flex;
  flex-direction: column;
  gap:20px
}
th, td{
  padding: 4px 10px;
}
table button{
  margin-left:3px;
}
form label{
  display: block;
}
.high{
  background:slateblue;
  color:white;
}